<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../style/style.css">

    <title>Tj Start RK - Calendář</title>
</head>
<body>
<main id="content">
    {{>header}}
    <form action="event/update?_method=PATCH" method="POST">
        <h2>{{event.title}}</h2>
        <br>
        <label for="description">Název akce:</label> <br>
        <input type="text" name="title" id="title"  required
               value="{{event.title}}">
        <br>
        <div>
            <label>Start:</label> <br>
            <input type="datetime-local" id="start" name="start" required value="{{event.start}}">
            <br>
            <label>Konec:</label> <br>
            <input type="datetime-local" id="end" name="end" required value="{{event.end}}">
            <br>
        </div>
        <button type="submit">Aktualizovat</button>
    </form>
    <a  id="zpet-button" href="/events/create"><button>Zpět</button></a>
</main>

{{>footer}}
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    };
</script>
</html>