<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/locales/cs.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Tj Start RK - Calendář</title>
</head>
<body>

{{>header_not_admin}}
<main id="content">
    <div id="calendar" style="overflow-x: auto;"></div>
    <table id="calendar_table">
        {{#each events}}
            <tr>
                <td>
                    {{this.title}}
                </td>
                <td>
                    {{this.start}}
                </td>
                <td>
                    {{this.end}}
                </td>
            </tr>
        {{/each}}
    </table>

</main>

{{>footer}}

<script>
    function myFunction() {

        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    };
</script>
<script type="module" src="js/calendar.js"></script>
</body>
</html>