<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../style/style.css">

    <title>Tj Start RK - Calendář</title>
</head>
<body>
<main id="content">
    {{>header_not_admin}}
    <form action="" method="post">
        <h2>Nový trénink</h2>
        <br>
        <p id="p-errorMessage">{{message}}</p>
        <label>Start: </label>
        <br>
        <input type="datetime-local" id="start" name="start" required>
        <br>
        <label>Konec:</label>
        <br>
        <input type="datetime-local" id="end" name="end" required>
        <br>
        </div>
        <button type="submit">Uložit</button>
    </form>
    <div id="table-list">
        <table id="events_table">
            <tr>
                <th id="th-training">Začátek</th>
                <th id="th-training">Konec</th>
                <th></th>
            </tr>
            {{#each training}}
                <tr>
                    <td id="in">
                        {{this.start}}
                    </td>
                    <td id="in">
                        {{this.end}}
                    </td>
                    <td id="delete-table">
                        <a id="delete-table" href="/{{this.id}}/training/delete">Odstranit</a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</main>

{{>footer}}
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    };
</script>
</html>