<header>
    <nav class="topnav" id="myTopnav">
        <a href="/">Calendar</a>
        <a href="/training/create">Tréninky</a>
        <a href="/updateUser">Učet</a>
        <a href="/logout">Odhlásit se</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
</header>